body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }

  .karyawan-form-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #1D597D;
    font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.527);
}

.karyawan-form-container {
    display: flex;
    /* opacity: 0; */
    /* transition: opacity 1.5s ease; */
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #e2ebf3;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 25px 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 50px;
}

.karyawan-form-group {
    margin-bottom: 20px;
}

.karyawan-form-label {
    font-weight: bold;
}

.karyawan-form-control {
    width: 80%;
    height: 40px;
    border-radius: 15px !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.224) !important;
}

.datepicker {
    display: flex;
    align-items: center;
    justify-content: center;

}

.karyawan-form-control-date {
    border-radius: 15px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.224) !important;
}

.karyawan-form-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.karyawan-form-btn  {
    background-color: #1D597D !important;
    border: none !important;
    border-radius: 15px !important;
    width: 155px;
    height: 50px;
    font-size: 16px;
    font-weight: bold !important;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.265) !important;
}

.karyawan-form-btn:hover {
    background-color: #1c75ac !important;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.265) !important;
    transition: .3s ease-in-out !important;
}


.table-responsive {
  margin: 0 50px !important;
}

.karyawan-form-table-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
}

.karyawan-form-table-container th, .karyawan-form-table-container td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: left;
}

.karyawan-form-table-container thead th {
  background-color: #1D597D;
  color: white;
  text-align: center;
}

.karyawan-form-table-container tbody td {
  background-color: #9ec5d390;
}

.karyawan-form-table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.karyawan-form-table-container tbody tr:hover {
  background-color: #97caf7;
  transition: .1s ease-in-out;
}

.karyawan-form-table-container button {
  margin-right: 5px;
}

.karyawan-form-table-container button:hover {
  cursor: pointer;
}

.karyawan-form-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.karyawan-form-btn  {
  background-color: #1D597D !important;
  border: none !important;
  border-radius: 15px !important;
  width: 175px;
  height: 50px;
  font-size: 16px;
  font-weight: bold !important;
  margin-top: 20px;
}

.karyawan-form-btn:hover {
  background-color: #124362 !important;
}

.karyawan-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.karyawan-table-btn1 {
  border-radius: 15px !important;
  background-color: #f9a545 !important;
  border: none !important;
}

.karyawan-table-btn1:hover {
  background-color: #bd792a !important;
}

.karyawan-table-btn2 {
  border-radius: 15px !important;
  background-color: rgb(236, 41, 41) !important;
  border: none !important;
}

.karyawan-table-btn2:hover {
  background-color: rgb(170, 11, 11) !important;
}

@media (min-width: 768px) {
    .karyawan-form-container {
        max-width: 600px;
    }
    .karyawan-form-control {
        width: 400px;
    }
    .karyawan-form-control-date {
        width: 400px;
    }
  }

  @media (max-width: 768px) {
    .karyawan-form-container {
        max-width: 320px;
    }
    .karyawan-form-control {
        width: 250px;
    }
    .karyawan-form-control-date {
      width: 250px;
    }
  }